			/*Navigation bar and links*/
		.navbox {
			box-sizing: border-box;
			border-radius: 12px;
			margin-left: 10px;
			margin-right: 10px;
			margin-bottom:10px;
			width: 500;
			height: 50px;
			padding: 15px;
			background-color:greenyellow;
		}
		.navlink {
			display: flex;
			justify-content: center;
			

		}
		.navlink a {
			color: hotpink;
			font-weight: bolder;
			font-family:Tahoma, sans-serif;
			margin-left:10px;
			margin-right:10px;
			font-size: 20px;
		}
		.mainbg{
			box-sizing:border-box;
			display:flex;
			padding-top:150px;
			padding-bottom:100px;
			padding-left:50px;
			padding-right:50px;
			border-radius: 12px;
			margin-bottom:10px;
			width:100%;
			height:600px;
			background-color: mediumpurple;
		}
		/*Image display template.*/
		.imagedisplay{

			margin:10px ;
			width:200px;
			height:200px;
			border:10px;
			border:20px lightcoral;
			background-color:teal;
		}
		/*footer*/
		.footerstyle{
			box-sizing: border-box;
			border-radius:12px;
			background-color:midnightblue;
			height:120px;
			width:100%;
		}

	